<section class="page">
  <header class="header">
    <div>
      <h1>Debts</h1>

      <p class="sub">
        Total balance:
        <strong>{{ store.totalBalance() | currency }}</strong>
      </p>

      <p class="sub" *ngIf="store.debts().length">
        Total minimum payments:
        <strong>{{ store.totalMinPayment() | currency }}</strong>
        <span class="dot">•</span>
        Weighted APR:
        <strong>{{ store.weightedApr() }}%</strong>
      </p>
    </div>

    <a class="btn" routerLink="/debts/add">Add debt</a>
  </header>

  <div class="list" *ngIf="store.debts().length; else empty">
    <article class="row" *ngFor="let d of store.debts()">
      <div class="meta">
        <div class="name">{{ d.name }}</div>

        <div class="details">
          <span>{{ d.apr }}% APR</span>
          <span class="sep">•</span>
          <span>Min: {{ d.minPayment | currency }}</span>
          <ng-container *ngIf="d.dueDay">
            <span class="sep">•</span>
            <span>Due: {{ d.dueDay }}</span>
          </ng-container>
        </div>
      </div>

      <div class="right">
        <div class="bal">{{ d.balance | currency }}</div>

        <button class="link" type="button" (click)="remove(d.id)">
          Remove
        </button>
      </div>
    </article>
  </div>

  <ng-template #empty>
    <div class="empty">
      <p>No debts yet.</p>
      <a class="btn" routerLink="/debts/add">Add your first debt</a>
    </div>
  </ng-template>
</section>
